# Torr9 credentials
TORR9_USER=your_username
TORR9_PASSWORD=your_password

# C411 credentials
C411_USER=your_username
C411_PASS=your_password

# GEMINI-TRACKER Api Token 
GEMINI_TOKEN=your_api_token

# Generation Free Api Token 
GFREE_TOKEN=your_api_token

# The Old School Api Token 
TOS_TOKEN=your_api_token

# Nostradamus Private key
NOSTRADAMUS_PRIVATE_KEY=your_privatekey

# CrazySpirits credentials (manually retrieved)
CRAZYSPIRITS_COOKIE='uid=xxx; pass=xxx'

# Lacale credentials 
LACALE_EMAIL=your_email
LACALE_PASS=your_password
